.App {
  text-align: center;
}

.signup__div {
  padding-top: 5%;
}

.login__div {
  padding-top: 5%;
}

.login__form {
  width: 27%;
  margin-left: 40%;
  margin-top: 5%;
}

.signup__form {
  width: 27%;
  margin-left: 40%;
  margin-top: 5%;
}

.create__vehicle__form {
  width: 45%;
  margin-left: 25%;
  margin-top: 8%;
}