.App {
  text-align: center;
}

.signup__div {
  padding-top: 40px;
}

.login__div {
  padding-top: 40px;
}

.login__form {
  width: 27%;
  margin: 40px auto 20px auto;
  margin-top: 5%;
}

.signup__form {
  width: 27%;
  margin: 40px auto 20px auto;
  margin-top: 5%;
  
}

.create__vehicle__form {
  width: 50%;
  margin: 40px auto 20px auto;
  margin-top: 8%;
}

.spinner__div {
  margin-top: 20%;
  margin-left: 7%;
  margin: 50px auto 20px auto;
}

.errors__div {
  margin-left: 38%;
  width: 27%;
  text-align: justify;

}

.carousel__div {
  height: 20%;
}

