.vehicle__row {
    width: 100%;
    
}


.row__div {
    margin-top: 3%;
    width: 100%;
}

.card__div {
    display: inline-flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 55%;
}

