.vehicle__page {

}

.update__vehicle {
    position: absolute;
    top: 75%;
    left: 33%;
    width: 45%;
}

.vehicle__info {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 35%;
}

.garage__button {
    position: absolute;
    top: 21%; 
    left: 2%;
    border: 1px outset blue;
    background-color: lightblue;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.garage__button:hover {
    background-color: blue;
    color: white;
}

.update__button {
    position: absolute;
    top: 45%;
    left: 2%;
    border: 1px outset blue;
    background-color: lightblue;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.update__button:hover {
    background-color: blue;
    color: white;
}